#formulario {
  background-color: rgba(255, 255, 255, 0.1);
  border: 0.1rem solid;
  border-color: rgb(180, 180, 180);
  padding: 1rem;
  width: 60%;
}
.etiquetas {
  font-size: 1.2rem;
}
.miniText {
  font-size: 1rem;
}
#btnEnviar {
  margin-top: 1rem;
  height: 5vh;
  width: 10vw;
  font-size: 1.5rem;
}
input,
textarea {
  background-color: #ececec;
  resize: none;
}
input:checked {
  background-color: #ac00ca !important;
  border-color: #ececec !important;
}

@media (max-width: 576px) {
  #formulario {
    width: 100%;
  }
  #btnEnviar {
    width: 100%;
  }
}
