:root {
  --head-footer-bg-color: #370047;
  --body-bg-color: #1e0032;
  --font-color: #e7f6f2;
}
html {
  font-size: 10px;
}
header {
  background-color: var(--head-footer-bg-color);
}
header a {
  font-size: 2rem !important;
  color: var(--font-color) !important;
}
header a:hover {
  opacity: 0.7;
}
header .disabled{
  opacity: 0.5;
}
body {
  background-color: var(--body-bg-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}
p {
  font-size: 2rem;
  color: var(--font-color);
}
h1 {
  font-size: 4rem;
  color: var(--font-color);
}
label {
  font-size: 1.5rem;
}
label h5 {
  color: var(--font-color);
}
footer p,
li {
  text-decoration: none;
  font-size: 2rem;
}
footer a {
  text-decoration: none;
  font-size: 2rem;
  color: #8f00d7;
}
footer a:hover {
  color: #d47eff;
}
footer h2 {
  font-size: 2rem;
}
footer {
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  background-color: var(--head-footer-bg-color);
  color: var(--font-color);
  font-style: italic;
}

@media (max-width: 576px) {
  body {
    font-size: 7px;
  }
}
