html {
  font-size: 10px;
}
header {
  background-color: #052a33;
}
Header a {
  font-size: 2rem !important;
  color: #e7f6f2 !important;
}
body {
  background-color: #03191e;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}
p {
  font-size: 2rem;
  color: #e7f6f2;
}
h1 {
  font-size: 4rem;
  color: #e7f6f2;
}
label {
  font-size: 1.5rem;
}
label h5 {
  color: #e7f6f2;
}
footer p,
li {
  text-decoration: none;
  font-size: 2rem;
}
footer a {
  text-decoration: none;
  font-size: 2rem;
  color: #2cbad3;
}
footer h2 {
  font-size: 2rem;
}
footer {
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  background-color: #052a33;
  color: #e7f6f2;
  font-style: italic;
}

@media (max-width: 576px) {
  body {
    font-size: 7px;
  }
}
